#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }

#selectable .ui-selecting-finished { background: #FFCC99; }
#selectable .ui-selecting-finished-UNFILLED { background: #FFCC99; }
#selectable .ui-selecting-finished-FILLED { background: #99CC99; }
#selectable .ui-selecting-finished-OPERATING { background: #E5E5C3; }
#selectable .ui-selecting-finished-NONOPERATING { background: #DDDDDD; }
#selectable .ui-selecting-finished-INTHEPAST { background: #BBBBBB; }

#selectable .ui-selected { background: #F39814; color: white; }
#selectable .cell-filled { background: #99cc99; color: white; }
		
#selectable { list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;-webkit-user-select: none; }
#selectable li { margin: 0.5px; padding: 1px; float: left; height: 20px; font-size: 12px; font-family: Trebuchet MS; text-align:center;}		

.ui-state-default {
	background-color: #e5e5c3;	
    border: 1px solid #CCCCCC;
    color: #3383BB;
}
    	
.tooltip 
{
	position:absolute;
    display: none;
    width: 100px;
    border: 1px solid black;
    background-color: White;
	background-color: rgba(255, 255, 255, 0.9);	
	color:Black; 
	font-style:normal;
	margin: 15px 0 15px 0;
	padding:4px;
}

.gridcell {
	border: solid 1px #efefef;
}

.gridcell.sel {
	cursor: pointer;
	color:Black; 
	font-style:normal;
}

.gridcell.rowheader {
	clear: both;
	font-weight:bold;
	background-color: #F0F8FF;
}

.gridcell.header {
	background-color: #4682B4;
	font-weight:bold;
}

.gridcell.sum {
	background-color: #C9C9C9;
}